/* google-font */
.uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* common-style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #333;
  font-family: "Raleway", sans-serif;
}

.wrap {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0;
}

/* header */

header {
  width: 100%;
  padding: 30px 0;
  box-shadow: 0 5px 20px #ccc;
  position: fixed;
  z-index: 200;
  font-size: 1.25rem;
  background-color: #fff;
}

header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 2rem;
}

.menu-btn,
.close-btn {
  display: none;
}

nav > ul {
  display: flex;
  gap: 30px;
}

nav a:hover {
  font-weight: 500;
  color: #ff9874;
}

/* home : first-section */
#home {
  width: 100%;
}

#home .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  height: 100vh;
}

#home .wrap > div {
  width: 50%;
}

.svg-container {
  height: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 100px;
}

.svg-container > div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.back-svg {
  transform: rotate(-25deg);
}

svg {
  width: 100%;
  height: auto;
}

.animated-path {
  animation: pathClip 5s infinite;
}

@keyframes pathClip {
  0% {
    d: path(
      "M14.9562 200.841C-24.8341 117.506 28.2895 62.1748 65.4562 41.8414C100.956 14.4207 188.134 -13.2277 263 10.0011C277.5 14.5 408.843 28.7467 451.456 144.341C470.5 196.001 724.456 260.841 580.456 422.841C436.456 584.841 164.956 548.342 117.456 526.842C69.9562 505.342 55.4561 459 55.4561 429.841C55.4561 341.503 47.5 269 14.9562 200.841Z"
    );
  }
  50% {
    d: path(
      "M18.9562 200.84C-29.8438 122.44 32.2895 62.1738 69.4562 41.8404C104.956 14.4197 206.956 -21.6596 273.456 19.8404C339.956 61.3404 332.456 137.34 455.456 144.34C578.456 151.34 728.456 260.84 584.456 422.84C440.456 584.84 168.956 548.34 121.456 526.84C73.9562 505.34 54.9562 481.84 59.4562 429.84C63.9562 377.84 79.9562 298.84 18.9562 200.84Z"
    );
  }
  100% {
    d: path(
      "M14.9562 200.841C-24.8341 117.506 28.2895 62.1748 65.4562 41.8414C100.956 14.4207 188.134 -13.2277 263 10.0011C277.5 14.5 408.843 28.7467 451.456 144.341C470.5 196.001 724.456 260.841 580.456 422.841C436.456 584.841 164.956 548.342 117.456 526.842C69.9562 505.342 55.4561 459 55.4561 429.841C55.4561 341.503 47.5 269 14.9562 200.841Z"
    );
  }
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-area h2 {
  font-size: 6rem;
  font-weight: 900;
  color: #7695ff;
}

.text-area h2 span {
  color: #fff;
  text-shadow: -1px -1px 0 #7695ff, 1px -1px 0 #7695ff, -1px 1px 0 #7695ff,
    1px 1px 0 #7695ff;
}

.text-area p {
  font-size: 2rem;
}

.sns {
  width: 100%;
  display: flex;
  gap: 20px;
}

.sns > a {
  width: 35px;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #333;
  background-color: #333;
}

.sns > a.download {
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  color: white;
  img {
    display: block;
    margin-left: 5px;
  }
}

.sns img {
  height: 100%;
}

/* introduce */

#introduce {
  padding-top: 100px;
  margin-top: -100px;
  margin-bottom: 100px;
}

#introduce > .wrap {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.im-title {
  color: #ffd7c4;
  font-size: 5rem;
  font-weight: 900;
}

#introduce p {
  font-size: 1.125rem;
}

.skills-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  .skill-box {
    width: 100%;
    position: relative;
    border: thin solid #7695ff;
    padding: 10px;
    border-radius: 10px;
    
    svg {
      position: absolute;
      width: 5%;
    }
    svg:nth-child(1) {
      top: 0;
      left: 0;
    }
    svg:nth-child(2) {
      top: 0;
      right: 0;
    }
    svg:nth-child(3) {
      bottom: 0;
      left: 0;
    }
    svg:nth-child(4) {
      bottom: 0;
      right: 0;
    }
    .title-box {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      padding: 30px;
      width: 50%;
      margin: 0 auto;
      border-radius: 100%;
      background: radial-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
      img{
        display: block;
        width: 36px;
        height: 36px;
      }
    }
    .skill-back{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .random-code {
        width: 100%;
        height: auto;
        font-size: 0.825rem !important;
        color: #fff;
        font-family: monospace;
        z-index: 1;
        pointer-events: auto;
        word-wrap: break-word;
        white-space: normal;
        text-align: center;
      }
      .back-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  } 
}


/* experience */

#experience,
#project {
  padding-top: 100px;
}
.timeline {
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.timeline-line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: #7695ff;
  transform: translateX(-50%);
}

.event {
  position: relative;
  margin-bottom: 20px; /* Adjust spacing between events */
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #7695ff;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.content {
  margin-left: 30px; /* Space between the dot and the content */
}

.timeline .content h2,
.timeline .content h4,
.timeline .content p {
  margin-bottom: 5px;
}

.timeline .content h4 {
  color: #777;
}

.timeline h3 {
  margin-top: 30px;
}

.link-type {
  text-decoration: underline;
  color: #7695ff;
  margin: 20px 0 50px 0 !important;
}

.link-type a {
  color: #777;
}

/* project */

#project {
  margin-bottom: 200px;
}

.project-wrap {
  display: flex;
  gap: 30px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.project-item {
  width: 32%;
  position: relative;
  .img-wrap {
    width: 100%;
    position: relative;
    z-index: 1;
    img{
      display: block;
      width: 100%;
    }
  }
}



.project-btn-area {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  bottom: 0;
  z-index: 3;
  display: none;
  align-items: end;
}

.project-btn-area a {
  width: 50%;
  text-align: center;
  padding: 15px 0;
  background-color: #ff9874;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.project-btn-area a:first-child {
  border-right: 1px solid #fff;
}

.project-item:hover .project-btn-area {
  display: flex;
}

.project-btn-area a:hover {
  color: #7695ff;
}

/* contact */

#contact {
  background-color: #7695ff;
  margin: 0 auto;
  text-align: center;
  padding: 150px;
}

.contact-box {
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px 100px 50px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

#contact h2 {
  color: #7695ff;
  font-size: 3rem;
  padding-bottom: 50px;
  width: 100%;
}

.contact-box img {
  width: 10%;
  display: block;
}

.info-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.info-area > div {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #7695ff;
  width: 100%;
  gap: 10px;
}

/* footer */

footer {
  background-color: #7695ff;
  padding: 50px 0;
  text-align: center;
  border-top: 1px solid #fff;
}

footer p {
  color: #fff;
}
