@media screen and (max-width: 768px) {
  /* header */

  header {
    padding: 10px 0;
  }
  header h2 {
    font-size: 1.5rem;
  }
  nav {
    display: none;
  }

  .svg-container {
    margin: 0;
  }
  .text-area {
    text-align: center;
    gap: 10px;
  }
  .text-area h2 {
    font-size: 2.5rem;
  }
  .text-area p {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .sns a {
    width: 30px;
    height: 30px;
  }

  .im-title {
    text-align: center;
    font-size: 3rem;
  }
  #project {
    margin-bottom: 100px;
  }

  #contact h2 {
    font-size: 2.25rem;
  }

  .contact-box > img {
    width: 30%;
    margin-bottom: 50px;
  }
  .info-area {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  #home .wrap {
    gap: 60px;
  }

  #home .wrap > div {
    width: 70%;
  }
  .skills-wrap {
    gap: 30px;
  }
  .skills-wrap > div {
    width: 60px;
  }
  .project-item {
    width: 100%;
  }

  #contact {
    padding: 100px 20px;
  }
}
