@media screen and (max-width: 768px) {
  /* header */

  header {
    padding: 10px 0;
  }
  header h2 {
    font-size: 1.5rem;
  }
  nav {
    display: none;
  }

  .svg-container {
    margin: 0;
  }
  .text-area {
    text-align: center;
    gap: 10px;
  }
  .text-area h2 {
    font-size: 2.5rem;
  }
  .text-area p {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .sns a {
    width: 30px;
    height: 30px;
  }

  .im-title {
    text-align: center;
    font-size: 3rem;
  }

  #experience {
    padding-top: 300px;
  }

  #project {
    margin-bottom: 100px;
  }

  .project-item {
    .project-popup {
      min-width: 85%;
      padding: 30px 20px;
      .popup-title {
        padding-bottom: 20px;
        font-size: 1.2rem;
      }
      .popup-grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        .popup-left {
          img {
            display: block;
            width: 80%;
            margin: 0 auto;
          }
          .project-btn-area {
            display: flex;
            gap: 5px;
            width: 100%;
            justify-content: space-between;
            text-align: center;
            a {
              font-size: 0.845rem;
              text-wrap: nowrap;
            }
          }
        }
        .popup-right {
          .project-context {
            /* display: flex; */
            h3{
              text-wrap: nowrap;
              font-size: 1rem;
            }
            p, li {
              font-size: 0.845rem;
            }
          }
        }
      }
    }
  }

  #contact h2 {
    font-size: 2.25rem;
  }

  .contact-box > img {
    width: 30%;
    margin-bottom: 50px;
  }
  .info-area {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  #home .wrap {
    gap: 60px;
  }

  #home .wrap > div {
    width: 70%;
  }
  .skills-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2%;
  }
  .skills-wrap > div {
    width: 60px;
  }
  .project-item {
    width: 100%;
  }

  #contact {
    padding: 100px 20px;
  }
}
